
.vs/SimpleGame/FileContentIndex/650b227c-116d-45ed-b9f5-00dcdd4af121.vsidx
.vs/SimpleGame/v17/.suo
.vs/SimpleGame/v17/Browse.VC.db
.vs/SimpleGame/v17/Browse.VC.db-shm
.vs/SimpleGame/v17/Browse.VC.db-wal
.vs/SimpleGame/v17/Browse.VC.opendb
.vs/SimpleGame/v17/ipch/e1efdb5c04dc574b.ipch
SimpleGame/x64/Debug/Renderer.obj
SimpleGame/x64/Debug/SimpleGame.exe.recipe
SimpleGame/x64/Debug/SimpleGame.ilk
SimpleGame/x64/Debug/SimpleGame.log
SimpleGame/x64/Debug/SimpleGame.obj
SimpleGame/x64/Debug/SimpleGame.pch
SimpleGame/x64/Debug/SimpleGame.tlog/CL.command.1.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/Cl.items.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/CL.read.1.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/CL.write.1.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/link.read.1.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/link.command.1.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/link.write.1.tlog
SimpleGame/x64/Debug/SimpleGame.tlog/SimpleGame.lastbuildstate
SimpleGame/x64/Debug/stdafx.obj
SimpleGame/x64/Debug/vc143.idb
SimpleGame/x64/Debug/vc143.pdb
x64/Debug/SimpleGame.pdb
x64/Debug/SimpleGame.exe
.vs/SimpleGame/FileContentIndex/3c52d414-95d5-4c74-a393-bcacec5c5d80.vsidx
.vs/SimpleGame/FileContentIndex/4f292678-86a1-4bdd-ade7-a500b29450b4.vsidx
